.vs/
bin/
obj/
ipch/
AssemblyInformationShellExt/Win32/
AssemblyInformationShellExt/x64/
*.exe
*.dll
*.msi
*.user
*.suo
*.ncb
*.aps
*.VC.db
SimpleExt.h
SimpleExt_i.c
SimpleExt_p.c
dlldata.c